<p id="notice"><%= notice %></p>


<div class="container-fluid login-page">

  <div class="row">
    <div class="col-md-12">
      <%=form_tag log_in_path do%>

      <%=label_tag :username %>
      <%=text_field_tag :username %>

      <%=label_tag :password %>
      <%=password_field_tag :password %>

      <%=submit_tag "Log in" %>

      <%end%>

    </div>
  </div>

</div>

