<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :Name %>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :Comment %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit 'Send' %>
  </div>

<% end %>
