<br>

<div class="container-fluid about-page">

    <div class="row">
  
        <div class="round_shadow">
          <%= image_tag "myself.jpg", alt: "Alex B.", class: "img-circle avatar" %>
       
          <h4>Code = art();</h4>
          The passion to code can open several fields, from IT Security Research to Game Development 
          and Hardware Hacking. My focus is continue learning everything I can and always look for 
          opportunities of research and development.       

          <div style="clear:both"></div>
        </div>


        <div class="col-md-5">

          <div>
            <br>
            <strong>Social</strong>
            <br>
            <%= fa_icon "linkedin" %>
            <a href="https://www.linkedin.com/in/alexertech/">LinkedIn</a><br>
            <%= fa_icon "github" %>
            <a href="https://www.github.com/alexertech/">GitHub</a><br>
            <%= fa_icon "instagram" %>
            <a href="https://www.instagram.com/alexertech/">Instagram</a><br>
            <%= fa_icon "twitter" %>
            <a href="http://twitter.com/alexertech">Twitter</a><br>
            <%= fa_icon "twitch" %>
            <a href="http://twitch.com/alexertech">Twitch Channel</a><br>
            
          </div>

        </div>


        <div class="col-md-7">

          <div>
            <br>
            <strong>Last post</strong>
            <br>
            <%=Post.last.title%>
            <a href="/posts/<%=Post.last.id%>">[...]</a>
          </div>

          <br>
          <strong>Food for thought</strong>
          <br>

          <% 
          t = Thought.order("RANDOM()").last 
          %>
          "<%=t.quote%>"
          <%=t.author%>
            
        </div>

        <div style="clear:both"></div>

    </div>

</div>

<br>
