<%= form_for(post) do |f| %>

  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="row">
    <div class="col-md-12">
      <%= f.label :title %><br>
      <%= f.text_field :title, size:50 %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= f.label :body %><br>
      <%= f.text_area :body, cols: 59, rows: 30%>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= f.label :tags %><br>
      <%= f.text_field :tag_list, value: f.object.tag_list.to_s, size: 50 %>
    </div>
  </div>


	<div class="row" style="text-align:center">
    <hr>
    <%= f.submit 'Save & Publish'%>
	</div>

<% end %>
