<%= form_for(post) do |f| %>

  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="container-fluid form form-posts">

     <div class="row">
        <div class="col-md-4 txtLabel"><%= f.label :title %></div>
        <div class="col-md-8"><%= f.text_field :title, size:50 %></div>
     </div>
     <div class="row">
        <div class="col-md-4 txtLabel"><%= f.label :body %></div>
        <div class="col-md-8">
          <%= f.text_area :body, rows: "30" %>
          <br>
          <em>Markdown Compatible</em>
        </div>
      </div>

     <div class="row">
        <div class="col-md-4 txtLabel"><%= f.label :tags %></div>
        <div class="col-md-8">
          <%= f.text_field :tag_list, value: f.object.tag_list.to_s, size: 50 %>
        </div>
     </div>

     <div class="row actions">
        <div class="col-md-4"></div>
        <div class="col-md-8">
          <%= f.submit 'Save & Publish'%>
          <%= link_to 'Back', posts_path %>

        </div>
      </div>
    </div>

	</div>

<% end %>
