<p id="notice"><%= notice %></p>

<div class="container-fluid post_main">

  <div class="row">
    <div class="col-md-12 post_title">
    <%= @post.title %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 post_body">
    <%= markdown(@post.body) %>
    </div>
  </div>

	<div class="row round_shadow">
			<div class="col-md-4 post_controls">
        <%= link_to 'Back', posts_path%>
        <% if current_user %>
        | <%= link_to 'Edit', edit_post_path(@post) %>
				| <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
			</div>
			<div class="col-md-6 post_tags">
				<%= render @post.tags %>
			</div>
			<div class="col-md-2 post_date">
				<%= @post.created_at.strftime("%d %b. %Y") %>
      </div>
	</div>
	<br>
</div>

