<p id="notice"><%= notice %></p>

<div class="post">

  <div class="post_title">
    <%=@post.title%>
    <div class="post_controls">
      <% if current_user %>
      <%= link_to 'Edit', edit_post_path(@post) %>
      | <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %> |
      <% end %>
      <%= link_to 'Back', posts_path %></div>
  </div>

  <div class="post_date">
    <%= @post.created_at.strftime("%d %b. %Y") %>
  </div>

  <div class="post_body">
    <%= markdown(@post.body) %>
  </div>

  <div class="post_tags">
    <strong>Tag(s)</strong> <%= render @post.tags %>
  </div>

  <% if @post.comments.count > 0 %>
  <div class="post_comments">
    <strong>Comments (<%=@post.comments.count%>)</strong>
    <%= render @post.comments %>
  </div>
  <% end %>

  <div class="post_add_comment">
    <strong>Leave a comment</strong><br><br>
    <%= render "comments/form" %>
  </div>

</div>
