<%= form_for(thought) do |f| %>
  <% if thought.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(thought.errors.count, "error") %> prohibited this thought from being saved:</h2>

      <ul>
      <% thought.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="container-fluid form">

     <div class="row">
        <div class="col-md-4 txtLabel"><%= f.label :author %></div>
        <div class="col-md-8"><%= f.text_field :author %></div>
     </div>
     <div class="row">
        <div class="col-md-4 txtLabel"><%= f.label :quote %></div>
        <div class="col-md-8"><%= f.text_area :quote, rows: "10" %></div>
      </div>
    <div class="row actions">
        <div class="col-md-4"></div>
        <div class="col-md-8">
          <%= f.submit %>
          <%= link_to 'Back', thoughts_path %>
        </div>
      </div>
    </div>

  </div>

<% end %>
