<!DOCTYPE html>
<html>
  <head>
    <title>alexertech by alex b.</title>

    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <!-- main container -->
    <div class="container-fluid site-main">

      <!-- main grid, 3 colums, 3x6x3 -->
      <div class="row">

          <!-- user navbar -->
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-10 site-navbar">
             

                <%= fa_icon "home" %>
                <%= link_to 'Inicio', root_path %>
                &nbsp;                
                <%= fa_icon "user" %>
                <%= link_to 'Ahora', about_path %> 
                &nbsp;
                <%= fa_icon "square" %>
                <%= link_to 'Blog', posts_path %>
                &nbsp;
                <%= fa_icon "twitter" %>
                <%= link_to 'Twitter', "http://twitter.com/alexertech" %>
                &nbsp; 
                <%= fa_icon "linkedin" %>
                <%= link_to 'LinkedIn', "https://www.linkedin.com/in/alexertech/" %>
               
              </div>
              <div class="col-xs-2 user-navbar">
              <% if current_user %>
                <%= link_to fa_icon("plus-square"), new_post_path %>
                &nbsp;
                <%= link_to fa_icon("sign-out"), '/log-out' %>
              <% else %>
                <%= link_to fa_icon("sign-in"), '/log-in' %>
              <% end %>
              </div>
            </div>
          </div>

          <!-- main logo -->
          <div class="container-fluid ">
            <div class="row">
             <div class="col-xd-12 site-logo rounded">
								<%= image_tag "sunrise.png" %>
              </div>
            </div>
          </div>          

          <!-- main content -->
        	<div class="container-fluid site-body">
						<div class="row">
							<div class="col-xs-12">
            		<%= yield %>
							</div>
						</div>
					</div>

          <!-- footer -->
          <div class="container-fluid">
            <div class="row">
             <div class="col-xs-12 site-footer">

								<p> 
                  2018 &copy; Alex Barrios - Todos los derechos reservados


                  <span style="font-size:x-small">
                  <br> Burning Sunrise Image &copy; 

                  <a href="http://pixeljoint.com/pixelart/23563.htm">raynoa</a>
                  </span>
                </p>
						 
						 </div>
            </div>
          </div>   

      </div>
    </div>


    <!-- JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script>
    (function() {
      'use strict'
      if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
        var msViewportStyle = document.createElement('style')
        msViewportStyle.appendChild(
          document.createTextNode(
            '@-ms-viewport{width:auto!important}'
          )
        )
        document.head.appendChild(msViewportStyle)
      }
    }())
    </script>

  </body>
</html>
