<!DOCTYPE html>
<html>
  <head>
    <title>alexertech by alex b.</title>

    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <!-- main container -->
    <div class="container-fluid">

      <!-- main grid, 3 colums, 3x6x3 -->
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

          <!-- user navbar -->
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 user-navbar">
              <% if current_user %>

                <%= current_user.username %> |
                <%= link_to 'New Post', new_post_path %> |
                <%= link_to "Logout", '/log-out' %>

              <% else %>

                <%= link_to 'Login', '/log-in' %>

              <% end %>
              </div>
            </div>
          </div>

          <!-- main logo -->
          <div class="container-fluid container-fullw">
            <div class="row">
             <div class="col-md-12 site-logo">
								<%= image_tag "sunrise.png" %>
              </div>
            </div>
          </div>          

          <!-- slogan / site navbar -->
          <div class="container-fluid">
            <div class="row">
               <div class="col-md-12 site-navbar">
              <strong>a</strong>lexertech
              <strong>b</strong>y
              <strong>a</strong>lex
              <strong>b</strong>.<br>
              <%= link_to 'Inicio', root_path %>
              | <%= link_to 'Yo', about_path %>
              | <%= link_to 'Twitter', "http://twitter.com/alexertech" %>
              | <%= link_to 'LinkedIn', "https://www.linkedin.com/in/alexertech/" %>
               </div>
            </div>
          </div>   

          <!-- main content -->
        	<div class="container-fluid site-main">
						<div class="row">
							<div class="col-md-12">
            		<%= yield %>
							</div>
						</div>
					</div>

          <!-- footer -->
          <div class="container-fluid">
            <div class="row">
             <div class="col-md-12 site-footer">

								<p> &copy; Alex B.  2018 </p>
						 
						 </div>
            </div>
          </div>  
         

        </div>
        <div class="col-md-3"></div>
      </div>
    </div>


    <!-- JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script>
    (function() {
      'use strict'
      if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
        var msViewportStyle = document.createElement('style')
        msViewportStyle.appendChild(
          document.createTextNode(
            '@-ms-viewport{width:auto!important}'
          )
        )
        document.head.appendChild(msViewportStyle)
      }
    }())
    </script>

  </body>
</html>
