<!DOCTYPE html>
<html>
  <head>
    <title>alexertech's blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="/assets/wymeditor/jquery.wymeditor.min.js"></script>
  </head>

  <body>

    <div id="main">

      <div id="user_bar">
        <% if current_user %>

        <%= current_user.username %> |
        <%= link_to 'New Post', new_post_path %> |
        <%= link_to "Logout", '/log-out' %>

        <% else %>

        <%= link_to 'Login', '/log-in' %>

        <% end %>
      </div>

      <div id="logo">
        <%= image_tag "megaman_banner.jpg" %>
      </div>

      <div id="slogan">
        <strong>A</strong>nother
          <strong>R</strong>andom
            <strong>B</strong>log,
              <strong>B</strong>y a
                <strong>R</strong>andom
                  <strong>C</strong>oder<br>
        Infosec fun, Coding and Game dev (hopefully) by
        <a href="http://twitter.com/alexertech" target="_blank">@alexertech</a>
      </div>

      <div id="content">
        <%= yield %>
      </div>

    </div>

  </body>
</html>
