<!DOCTYPE html>
<html>
  <head>
    <title>alexertech by alex b.</title>

    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <!-- main container -->
    <div class="container-fluid site-main">

      <!-- main grid, 3 colums, 3x6x3 -->
      <div class="row">

          <!-- user navbar -->
          
          <!-- TODO : center navbar buttons in the page -->


          <div class="container-fluid" role="navigation">
              <ul class="nav nav-pills site-navbar nav-justified">
                <li>
                  <%= link_to(root_path) do %>
                    <%= fa_icon "home" %> Inicio
                  <% end %>
                </li>
                <li>
                  <%= link_to(about_path) do %>
                    <%= fa_icon "user" %> Posts
                  <% end %>
                </li>
                <li>
                  <%= link_to(posts_path) do %>
                    <%= fa_icon "square" %> Blog
                  <% end %>
                </li>


                <li role="presentation" class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" 
                     role="button" aria-haspopup="true" aria-expanded="false">
                    Social <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
    
                    <li>
                      <%= link_to("http://twitter.com/alexertech") do %>
                        <%= fa_icon "twitter" %> Twitter
                      <% end %>
                    </li>
                    <li>
                      <%= link_to("https://www.linkedin.com/in/alexertech/") do %>
                        <%= fa_icon "linkedin" %> Linkedin
                      <% end %>
                    </li>

                  </ul>
                </li>
                
                <% if current_user %>

                <li>
                  <%= link_to(new_post_path) do %>
                    <%= fa_icon "plus-square" %> New Post
                  <% end %>
                </li>
                <li>
                  <%= link_to("/log-out") do %>
                    <%= fa_icon "sign-out" %> Logout
                  <% end %>
                </li>

                <% else %>
               
                <li>
                  <%= link_to("/log-in") do %>
                    <%= fa_icon "sign-in" %> Login
                  <% end %>
                </li>               
                
                <% end %>
                </ul>
                
              </div>



          <!-- main logo -->
          <div class="container-fluid ">
            <div class="row">
             <div class="col-xd-12 site-logo rounded">
								<%= image_tag "header.png" %>
              </div>
            </div>
          </div>          

          <!-- main content -->
        	<div class="container-fluid site-body">
						<div class="row">
							<div class="col-xs-12">
            		<%= yield %>
							</div>
						</div>
					</div>

          <!-- footer -->
          <div class="container-fluid">
            <div class="row">
             <div class="col-xs-12 site-footer">

								<p> 
                  2018 &copy; Alex Barrios - Todos los derechos reservados


                  <span style="font-size:x-small">
                  <br> Night Comming Image &copy; 

                  <a href="https://www.deviantart.com/art/Nightcoming-collab-work-448814520">Tr1umph, ifreex and KageRott</a>
                  </span>
                </p>
						 
						 </div>
            </div>
          </div>   

      </div>
    </div>


    <!-- JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script>
    (function() {
      'use strict'
      if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
        var msViewportStyle = document.createElement('style')
        msViewportStyle.appendChild(
          document.createTextNode(
            '@-ms-viewport{width:auto!important}'
          )
        )
        document.head.appendChild(msViewportStyle)
      }
    }())
    </script>

  </body>
</html>
